html {
    box-sizing: border-box;
}

body {
    margin: 0px;
    box-sizing: inherit;
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 32px;
}

li {
    list-style: none;
}

ul {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

.header {
    width: 900px;
    margin: 0 auto;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.navigation {
    width: 900px;
    margin: 0 auto;
}

.navigation__list {
    text-align: center;
    display: block;
}

.navigation__list-item {
    display: inline-block;
    padding-top: 76px;
    padding-bottom: 102px;
}

.navigation__list-item:not(:last-child) {
    margin-right: 110px;
}

.navigation__list-link {
    font-weight: lighter;
    font-size: 14px;
    line-height: 1.2;
    color: #626262;
    text-transform: uppercase;
}

.navigation__list-link:hover,
.navigation__list-link:focus {
    color: #03a9f4;
}

.section__wrapper {
    width: 900px;
    margin: 0 auto;
    margin-bottom: 58px;
}

.wrapper__block {
    display: inline-block;
    width: 420px;
    margin-bottom: 124px;

}

.wrapper__block:not(:last-child) {
    display: inline-block;
    margin-right: 60px;
}

.wrapper__block:nth-child(2n) {
    margin-right: 0;
}

.wrapper__block:nth-last-child(-n + 2) {
    margin-bottom: 0;
}

.wrapper__descriptions {
    font-size: 30px;
    font-weight: lighter;
    line-height: 1.2;
    color: #626262;
}

.wrapper__subtitle {
    font-family: "Ubuntu", "Times New Roman", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: lighter;
    color: #b4ad9e;
    text-transform: uppercase;
}

p {
    font-weight: lighter;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
}

.container__button {
    width: 900px;
    margin: 0 auto;
    margin-bottom: 70px;
    text-align: center;
}

.modal__button {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    width: 164px;
    height: 60px;
    padding: 0;
    cursor: pointer;
}

button {
    border-width: 1px;
    border-color: #626262;
    border-style: solid;
    background-color: #ffffff;
    cursor: pointer;
}